body {
  background-color:#fffff8;
  text-align: center;
}

.minimal-text {
  font-family: 'Space Grotesk', sans-serif;
}

hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
    width: 100%;
  }